# Sample code owners file

# Default for everything
* @pkaminski

# A new comment for this entry, slightly changed.
/astropy/ @pkaminski-test

# Astropy and tests, but this is a long
# multiline comment that goes on and on about all kinds
# of stuff.
tests/
angles.py @pkaminski-test
